__pycache__/
.vscode/
.venv/
GRPO/
film/
models/
output/
output_rm/

RM/__pycache__/
RM/data/
RM/output_dir/
RM/pretrain_model/

SFT/__pycache__/
SFT/cache/
SFT/data/
SFT/output_sft/
SFT/wandb/
SFT/output

swanlog/
.env/
RM/pretrain_model/

